In [16]:
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense, Dropout
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [17]:
df = pd.read_csv('TSLA.csv')

# Separate dates for future plotting
train_dates = pd.to_datetime(df['Date'])

# Variables for training
cols = list(df)[1:6]

df_for_training = df[cols].astype(float)
df_for_training = df_for_training[:-90]

In [18]:
train_dates =

0      2016-07-01
1      2016-07-05
2      2016-07-06
3      2016-07-07
4      2016-07-08
          ...
1253   2021-06-24
1254   2021-06-25
1255   2021-06-28
1256   2021-06-29
1257   2021-06-30
Name: Date, Length: 1258, dtype: datetime64[ns]

In [5]:
scaler = StandardScaler()
scaler = scaler.fit(df_for_training)
df_for_training_scaled = scaler.transform(df_for_training)

# As required for LSTM networks, we require to reshape an input data into n_samples x timesteps x n_features.
# In this example, the n_features is 2. We will make timesteps = 3.
# With this, the resultant n_samples is 5 (as the input data has 9 rows).
trainX = []
trainY = []

n_future = 1  # Number of days we want to predict into the future
n_past = 14  # Number of past days we want to use to predict the future

for i in range(n_past, len(df_for_training_scaled) - n_future + 1):
    trainX.append(df_for_training_scaled[i - n_past:i, 0:df_for_training.shape[1]])
    trainY.append(df_for_training_scaled[i + n_future - 1:i + n_future, 0])

trainX, trainY = np.array(trainX), np.array(trainY)

print('trainX shape == {}.'.format(trainX.shape))
print('trainY shape == {}.'.format(trainY.shape))

# define Autoencoder model

model = Sequential()
model.add(LSTM(64, activation='relu', input_shape=(trainX.shape[1], trainX.shape[2]), return_sequences=True))
model.add(LSTM(32, activation='relu', return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(trainY.shape[1]))

model.compile(optimizer='adam', loss='mse')
model.summary()

# fit model
history = model.fit(trainX, trainY, epochs=10, batch_size=16, validation_split=0.1, verbose=1)

trainX shape == (1244, 14, 5).
trainY shape == (1244, 1).
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 14, 64)            17920
_________________________________________________________________
lstm_1 (LSTM)                (None, 32)                12416
_________________________________________________________________
dropout (Dropout)            (None, 32)                0
_________________________________________________________________
dense (Dense)                (None, 1)                 33
=================================================================
Total params: 30,369
Trainable params: 30,369
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
70/70 [==============================] - 19s 17ms/step - loss: 0.1749 - val_loss: 1.0581
Epoch 2/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0214 - val_loss: 0.1313
Epoch 3/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0178 - val_loss: 0.3446
Epoch 4/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0211 - val_loss: 0.1717
Epoch 5/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0152 - val_loss: 0.0521
Epoch 6/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0177 - val_loss: 0.1283
Epoch 7/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0157 - val_loss: 0.1246
Epoch 8/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0128 - val_loss: 0.0307
Epoch 9/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0132 - val_loss: 0.0251
Epoch 10/10
70/70 [==============================] - 0s 5ms/step - loss: 0.0131 - val_loss: 0.2557

In [7]:
n_future = 90  # Redefining n_future to extend prediction dates beyond original n_future dates...
forecast_period_dates = pd.date_range(list(train_dates)[-1], periods=n_future, freq='1d').tolist()
#
forecast = model.predict(trainX[-n_future:])
#print(forecast)# forecast
#
# # Perform inverse transformation to rescale back to original range
# # Since we used 5 variables for transform, the inverse expects same dimensions
# # Therefore, let us copy our values 5 times and discard them after inverse transform
forecast_copies = np.repeat(forecast, df_for_training.shape[1], axis=-1)
y_pred_future = scaler.inverse_transform(forecast_copies)[:, 0]
#
# # Convert timestamp to date
forecast_dates = []
for time_i in forecast_period_dates:
    forecast_dates.append(time_i.date())
#
df_forecast = pd.DataFrame({'Date': np.array(forecast_dates), 'Open': y_pred_future})
#print(df_forecast)
# df_forecast['Date'] = pd.to_datetime(df_forecast['Date'])
#
original = df[['Date', 'Open']]
#original['Date'] = pd.to_datetime(original['Date'])

In [8]:
df_forecast

          Date        Open
0   2021-06-30  613.041382
1   2021-07-01  585.347534
2   2021-07-02  590.666626
3   2021-07-03  586.250366
4   2021-07-04  578.492249
..         ...         ...
85  2021-09-23  569.206909
86  2021-09-24  584.673401
87  2021-09-25  594.179871
88  2021-09-26  601.317871
89  2021-09-27  604.241028

[90 rows x 2 columns]

In [10]:
original[-100:]

            Date        Open
1158  2021-02-08  869.669983
1159  2021-02-09  855.119995
1160  2021-02-10  843.640015
1161  2021-02-11  812.440002
1162  2021-02-12  801.260010
...          ...         ...
1253  2021-06-24  674.989990
1254  2021-06-25  689.580017
1255  2021-06-28  671.640015
1256  2021-06-29  684.650024
1257  2021-06-30  679.770020

[100 rows x 2 columns]